*{
margin: 0;
padding: 0;
color: white;
font-family: sans-serif;
}
body{
background-color: rgb(74, 74, 86);
display: flex;
}

.img-box{
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
border: 3px solid white;
flex-shrink: 0;
}

.img-box img{
    width: 100%;
    
}
.profile{
display: flex;
align-items: center;
gap: 20px;

}
.profile h2 {
font-size: 20px;
text-transform: capitalize;

}



.menu{
display: flex;
background-color: #123;
width: 45px;
height: 100vh;
padding: 30px;
overflow: hidden;
transition: .6s;

}
.menu:hover{
  width: 260px;
    
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
display: block;
text-decoration: none;
padding: 20px;
margin: 10px 0;
border-radius: 10px;
display: flex;
align-items: center;
gap: 40px;
}
ul li a:hover,.active ,.data-info .box:hover , td:hover{
background-color: #ffffff55;
width: 220px;
}


.log-out{
position: absolute;
bottom: 0;
width: 100%;
}
.log-out a{
background-color: #a00;

}
ul li a i{
font-size: 30px;

}
.content{
  width:100% ;
  margin: 10px;
}
.title-info{

  background-color: rgb(27, 170, 247);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px 0;
}
.data-info{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap: 10px;
}
.data-info .box{
background-color: black;
flex-basis: 150px;
height: 150px;
flex-grow: 1;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: space-around;
}
.data-info .box i{
font-size: 40px;

}
.data-info .box .data{
text-align: center;

}
.data-info .box .data span{
font-size: 30px;

}
table{
  width: 100%;
  text-align: center;
  border-spacing: 8px;
}
td,th{
background-color: #123;
height: 40px;
border-radius: 8px;
}
th{
background-color: rgb(27, 170, 247);

}
.price , .count{
padding: 6px;
border-radius: 6px;
}
.price{
background-color: green;

}
.count{
background-color: gold;
color: black;
}